<a href="https://colab.research.google.com/github/sunanda-debnath/EDA-PLAYSTORE-APP/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

I did my best to follow a comprehensive, but not exhaustive, analysis of the data. I'm far from reporting a rigorous study in this kernel, but I hope that it can be useful for the community, so I'm sharing how I applied some of those data analysis principles to this problem.

I gave to the chapters, what we are doing in this kernel is something like:

*   **loading the data into data frame**.
*   **Basic cleaning**. 
*   **Multivariate study**.
*   **Test assumptions**. We'll check if our data meets the assumptions required by most multivariate techniques.
*   **exploratory analysis and visualizations**
*   **questions that can be asked from the dataset**
*   **conclusion**

# **Importing Libraries**

In [74]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [75]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing the dataset

In [76]:
df = pd.read_csv("/content/drive/MyDrive/ eda project 1/playstore original/Play Store Data.csv")
df_new = df.copy() #for not tampering the original data

# Data Overview

In [77]:
print(df_new.shape)
df_new.tail()

(10841, 13)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [78]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

###All features are object data type except rating

# Checking what columns are there in the dataset

In [79]:
df_new.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# Descriptive statistics

In [80]:
df_new.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [81]:
df_new['App'].duplicated().value_counts()

False    9660
True     1181
Name: App, dtype: int64

In [82]:
df_new.loc[df_new['App'].duplicated()] #no of duplicates

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,"1,000,000+",Free,0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410,60M,"50,000+",Free,0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,"1,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

### Droping the duplicates

In [83]:
df_new = df_new.drop_duplicates('App')

In [84]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

###Find null values

In [85]:
df_new.isna().sum()

App                  0
Category             0
Rating            1463
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [86]:
#For minimize the lossing data we fill the null values in (Rating) column by mean through catagory wise.
df_new['Rating'].fillna(df_new.groupby('Category')['Rating'].transform('mean'),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [87]:
df_new.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

###Dropping other null rows

In [88]:
df_new.dropna(inplace=True)

## correcting the data types
### Which all variables need to be brought to numeric types?
### Installs
### size
### Reviews
### Price

### Convert the 'Installs' column to int type

In [89]:
df_new['Installs'] = df_new['Installs'].apply(lambda x:x .replace('+',''))     #replacing '+' sign from each intalls values 
df_new['Installs'] = df_new['Installs'].apply(lambda x:x .replace(',',''))
df_new['Installs'] = df_new['Installs'].astype(int)

###Convert 'Size' column to float type and all values in Megabytes

In [90]:
#replacing the string 'Varies with device' into NaN value and leter filled by mean value catagory wise
df_new['Size'].replace('Varies with device', np.nan, inplace = True)
df_new['Size'] =df_new['Size'].apply(lambda x:str(x).replace('M',''))
df_new['Size'] =df_new['Size'].apply(lambda x:str(x).replace('k','e-3')) #replace k(kilobytes) to megabytes
df_new['Size'] =df_new['Size'].astype(float) #convert to float
df_new['Size'].fillna(df_new.groupby('Category')['Size'].transform('mean'),inplace = True) #fill NaN values with mean of the size of the apps by its category respectively

In [91]:
df_new['Size'].unique() #unique values in 'Size' column

array([1.90000000e+01, 1.40000000e+01, 8.70000000e+00, 2.50000000e+01,
       2.80000000e+00, 5.60000000e+00, 2.90000000e+01, 3.30000000e+01,
       3.10000000e+00, 2.80000000e+01, 1.20000000e+01, 2.00000000e+01,
       2.10000000e+01, 3.70000000e+01, 5.50000000e+00, 1.70000000e+01,
       3.90000000e+01, 3.10000000e+01, 4.20000000e+00, 7.00000000e+00,
       2.30000000e+01, 6.00000000e+00, 6.10000000e+00, 4.60000000e+00,
       9.20000000e+00, 5.20000000e+00, 1.10000000e+01, 2.40000000e+01,
       1.25295082e+01, 9.40000000e+00, 1.50000000e+01, 1.00000000e+01,
       1.20000000e+00, 2.60000000e+01, 8.00000000e+00, 7.90000000e+00,
       5.60000000e+01, 5.70000000e+01, 2.00371467e+01, 3.50000000e+01,
       5.40000000e+01, 2.01000000e-01, 3.60000000e+00, 5.70000000e+00,
       8.60000000e+00, 2.40000000e+00, 2.70000000e+01, 2.70000000e+00,
       2.50000000e+00, 1.60000000e+01, 3.40000000e+00, 8.90000000e+00,
       3.90000000e+00, 2.90000000e+00, 3.80000000e+01, 3.20000000e+01,
       5.40000000e+00, 1.80000000e+01, 1.10000000e+00, 2.20000000e+00,
       4.50000000e+00, 9.80000000e+00, 1.37957447e+01, 5.20000000e+01,
       9.00000000e+00, 6.70000000e+00, 3.00000000e+01, 2.60000000e+00,
       7.10000000e+00, 3.70000000e+00, 2.20000000e+01, 7.40000000e+00,
       6.40000000e+00, 3.20000000e+00, 8.20000000e+00, 9.90000000e+00,
       1.31993472e+01, 4.90000000e+00, 9.50000000e+00, 5.00000000e+00,
       5.90000000e+00, 1.30000000e+01, 7.30000000e+01, 6.80000000e+00,
       3.50000000e+00, 4.00000000e+00, 2.30000000e+00, 7.20000000e+00,
       2.10000000e+00, 4.20000000e+01, 7.30000000e+00, 1.38671941e+01,
       9.10000000e+00, 5.50000000e+01, 2.30000000e-02, 6.50000000e+00,
       1.50000000e+00, 7.50000000e+00, 5.10000000e+01, 4.10000000e+01,
       4.80000000e+01, 8.50000000e+00, 4.60000000e+01, 1.37949592e+01,
       8.30000000e+00, 4.30000000e+00, 4.70000000e+00, 3.30000000e+00,
       4.00000000e+01, 7.80000000e+00, 1.13074298e+01, 8.80000000e+00,
       6.60000000e+00, 5.10000000e+00, 6.10000000e+01, 6.60000000e+01,
       7.90000000e-02, 8.40000000e+00, 1.18000000e-01, 4.40000000e+01,
       6.95000000e-01, 1.60000000e+00, 1.56611195e+01, 6.20000000e+00,
       1.80000000e-02, 5.30000000e+01, 1.40000000e+00, 3.00000000e+00,
       5.80000000e+00, 3.80000000e+00, 9.60000000e+00, 4.50000000e+01,
       6.30000000e+01, 4.90000000e+01, 7.70000000e+01, 4.40000000e+00,
       4.80000000e+00, 7.00000000e+01, 6.90000000e+00, 9.30000000e+00,
       8.10000000e+00, 3.60000000e+01, 1.90571011e+01, 8.40000000e+01,
       9.70000000e+01, 2.00000000e+00, 1.90000000e+00, 1.80000000e+00,
       5.30000000e+00, 4.70000000e+01, 5.56000000e-01, 5.26000000e-01,
       7.60000000e+01, 7.60000000e+00, 5.90000000e+01, 2.30437500e+01,
       9.70000000e+00, 7.80000000e+01, 7.20000000e+01, 4.30000000e+01,
       7.70000000e+00, 6.30000000e+00, 1.39637544e+01, 3.34000000e-01,
       3.40000000e+01, 1.73681271e+01, 9.30000000e+01, 6.50000000e+01,
       7.90000000e+01, 1.00000000e+02, 5.80000000e+01, 5.00000000e+01,
       6.80000000e+01, 2.04943182e+01, 6.40000000e+01, 2.06697069e+01,
       6.70000000e+01, 6.00000000e+01, 9.40000000e+01, 1.59702581e+01,
       1.07352812e+01, 2.32000000e-01, 9.90000000e+01, 6.24000000e-01,
       9.50000000e+01, 8.50000000e-03, 4.10000000e-02, 2.92000000e-01,
       8.00000000e+01, 1.70000000e+00, 1.48449162e+01, 7.40000000e+01,
       4.18666094e+01, 6.20000000e+01, 6.90000000e+01, 7.50000000e+01,
       9.80000000e+01, 8.50000000e+01, 8.20000000e+01, 9.60000000e+01,
       8.70000000e+01, 7.10000000e+01, 8.60000000e+01, 9.10000000e+01,
       8.10000000e+01, 9.20000000e+01, 8.30000000e+01, 8.80000000e+01,
       2.72228932e+01, 7.04000000e-01, 1.91893995e+01, 8.62000000e-01,
       8.99000000e-01, 3.78000000e-01, 2.66000000e-01, 3.75000000e-01,
       1.30000000e+00, 9.75000000e-01, 9.80000000e-01, 1.59840899e+01,
       4.10000000e+00, 8.90000000e+01, 1.54914345e+01, 1.56661577e+01,
       2.40583614e+01, 2.42044104e+01, 8.79467353e+00, 6.96000000e-01,
       5.44000000e-01, 5.25000000e-01, 1.12514126e+01, 9.20000000e-01,
       7.79000000e-01, 8.53000000e-01, 1.23425052e+01, 7.20000000e-01,
       7.13000000e-01, 2.25129630e+01, 1.26800357e+01, 1.57927559e+01,
       1.24701891e+01, 1.63681215e+01, 7.72000000e-01, 3.18000000e-01,
       5.80000000e-02, 2.41000000e-01, 1.96000000e-01, 8.57000000e-01,
       5.10000000e-02, 9.53000000e-01, 8.65000000e-01, 2.51000000e-01,
       9.30000000e-01, 5.40000000e-01, 3.13000000e-01, 7.46000000e-01,
       2.03000000e-01, 2.60000000e-02, 3.14000000e-01, 2.39000000e-01,
       3.71000000e-01, 2.20000000e-01, 7.30000000e-01, 7.56000000e-01,
       9.10000000e-02, 2.93000000e-01, 1.70000000e-02, 7.40000000e-02,
       1.40000000e-02, 3.17000000e-01, 7.80000000e-02, 9.24000000e-01,
       9.02000000e-01, 8.18000000e-01, 8.10000000e-02, 9.39000000e-01,
       1.69000000e-01, 4.50000000e-02, 4.75000000e-01, 9.65000000e-01,
       9.00000000e+01, 5.45000000e-01, 6.10000000e-02, 2.83000000e-01,
       6.55000000e-01, 7.14000000e-01, 9.30000000e-02, 8.72000000e-01,
       1.21000000e-01, 3.22000000e-01, 1.00000000e+00, 9.76000000e-01,
       1.72000000e-01, 2.38000000e-01, 5.49000000e-01, 2.06000000e-01,
       9.54000000e-01, 4.44000000e-01, 7.17000000e-01, 2.10000000e-01,
       6.09000000e-01, 3.08000000e-01, 7.05000000e-01, 3.06000000e-01,
       9.04000000e-01, 4.73000000e-01, 1.75000000e-01, 3.50000000e-01,
       3.83000000e-01, 4.54000000e-01, 4.21000000e-01, 7.00000000e-02,
       8.12000000e-01, 4.42000000e-01, 8.42000000e-01, 4.17000000e-01,
       4.12000000e-01, 4.59000000e-01, 4.78000000e-01, 3.35000000e-01,
       7.82000000e-01, 7.21000000e-01, 4.30000000e-01, 4.29000000e-01,
       1.92000000e-01, 2.00000000e-01, 4.60000000e-01, 7.28000000e-01,
       4.96000000e-01, 8.16000000e-01, 4.14000000e-01, 5.06000000e-01,
       8.87000000e-01, 6.13000000e-01, 2.43000000e-01, 5.69000000e-01,
       7.78000000e-01, 6.83000000e-01, 5.92000000e-01, 3.19000000e-01,
       1.86000000e-01, 8.40000000e-01, 6.47000000e-01, 1.91000000e-01,
       3.73000000e-01, 4.37000000e-01, 5.98000000e-01, 7.16000000e-01,
       5.85000000e-01, 9.82000000e-01, 2.19000000e-01, 5.50000000e-02,
       9.48000000e-01, 3.23000000e-01, 6.91000000e-01, 5.11000000e-01,
       9.51000000e-01, 9.63000000e-01, 2.50000000e-02, 5.54000000e-01,
       3.51000000e-01, 2.70000000e-02, 8.20000000e-02, 2.08000000e-01,
       9.13000000e-01, 5.14000000e-01, 5.51000000e-01, 2.90000000e-02,
       1.03000000e-01, 8.98000000e-01, 7.43000000e-01, 1.16000000e-01,
       1.53000000e-01, 2.09000000e-01, 3.53000000e-01, 4.99000000e-01,
       1.73000000e-01, 5.97000000e-01, 8.09000000e-01, 1.22000000e-01,
       4.11000000e-01, 4.00000000e-01, 8.01000000e-01, 7.87000000e-01,
       5.00000000e-02, 6.43000000e-01, 9.86000000e-01, 9.70000000e-02,
       5.16000000e-01, 8.37000000e-01, 7.80000000e-01, 9.61000000e-01,
       2.69000000e-01, 2.00000000e-02, 4.98000000e-01, 6.00000000e-01,
       7.49000000e-01, 6.42000000e-01, 8.81000000e-01, 7.20000000e-02,
       6.56000000e-01, 6.01000000e-01, 2.21000000e-01, 2.28000000e-01,
       1.08000000e-01, 9.40000000e-01, 1.76000000e-01, 3.30000000e-02,
       6.63000000e-01, 3.40000000e-02, 9.42000000e-01, 2.59000000e-01,
       1.64000000e-01, 4.58000000e-01, 2.45000000e-01, 6.29000000e-01,
       2.80000000e-02, 2.88000000e-01, 7.75000000e-01, 7.85000000e-01,
       6.36000000e-01, 9.16000000e-01, 9.94000000e-01, 3.09000000e-01,
       4.85000000e-01, 9.14000000e-01, 9.03000000e-01, 6.08000000e-01,
       5.00000000e-01, 5.40000000e-02, 5.62000000e-01, 8.47000000e-01,
       9.57000000e-01, 6.88000000e-01, 8.11000000e-01, 2.70000000e-01,
       4.80000000e-02, 3.29000000e-01, 5.23000000e-01, 9.21000000e-01,
       8.74000000e-01, 9.81000000e-01, 7.84000000e-01, 2.80000000e-01,
       2.40000000e-02, 5.18000000e-01, 7.54000000e-01, 8.92000000e-01,
       1.54000000e-01, 8.60000000e-01, 3.64000000e-01, 3.87000000e-01,
       6.26000000e-01, 1.61000000e-01, 8.79000000e-01, 3.90000000e-02,
       9.70000000e-01, 1.70000000e-01, 1.41000000e-01, 1.60000000e-01,
       1.44000000e-01, 1.43000000e-01, 1.90000000e-01, 3.76000000e-01,
       1.93000000e-01, 2.46000000e-01, 7.30000000e-02, 9.92000000e-01,
       2.53000000e-01, 4.20000000e-01, 4.04000000e-01, 4.70000000e-01,
       2.26000000e-01, 2.40000000e-01, 8.90000000e-02, 2.34000000e-01,
       2.57000000e-01, 8.61000000e-01, 4.67000000e-01, 1.57000000e-01,
       4.40000000e-02, 6.76000000e-01, 6.70000000e-02, 5.52000000e-01,
       8.85000000e-01, 1.02000000e+00, 5.82000000e-01, 6.19000000e-01])

###Convert Price column object to number type

In [92]:
df_new['Price']=df_new['Price'].apply(lambda x:x.replace('$',''))
df_new['Price']=df_new['Price'].astype(float)

convert Reviews column to numaric

In [93]:
df_new['Reviews'] =df_new['Reviews'].astype(int)

# Sanity cheak
##1.Avg rating should be between 1 and 5,only these values are allowed on the playstore.
###Are there any such records?drop if so

In [94]:
(df_new['Rating']<1).sum()

0

In [95]:
(df_new['Rating']>5).sum()

0

##2.Reviews should not be more than installs as only those who installed can review the app
###Are there any such records? Drop if so.

In [96]:
df_new[df_new['Reviews'] > df_new['Installs']]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2454,KBA-EZ Health Guide,MEDICAL,5.000000,4,25.000000,1,Free,0.00,Everyone,Medical,"August 2, 2018",1.0.72,4.0.3 and up
4550,RMEduS - ìŒì„±ì¸ì‹ì„ í™œìš©í•œ R í”„ë¡œê·¸ëž˜ë° ì‹¤ìŠµ ì‹œìŠ¤í…œ,FAMILY,4.179664,4,64.000000,1,Free,0.00,Everyone,Education,"July 17, 2018",1.0.1,4.4 and up
4663,Alarmy (Sleep If U Can) - Pro,LIFESTYLE,4.800000,10249,14.844916,10000,Paid,2.49,Everyone,Lifestyle,"July 30, 2018",Varies with device,Varies with device
5812,AX Watch for WatchMaker,PERSONALIZATION,4.332215,2,0.238000,1,Paid,0.99,Everyone,Personalization,"August 18, 2017",1.0,2.3 and up
5917,Ra Ga Ba,GAME,5.000000,2,20.000000,1,Paid,1.49,Everyone,Arcade,"February 8, 2017",1.0.4,2.3 and up
6508,Sam.BN Pro,TOOLS,4.039554,11,2.000000,10,Paid,0.99,Everyone,Tools,"March 27, 2015",1.0.0,4.0.3 and up
6700,Brick Breaker BR,GAME,5.000000,7,19.000000,5,Free,0.00,Everyone,Arcade,"July 23, 2018",1.0,4.1 and up
7402,Trovami se ci riesci,GAME,5.000000,11,6.100000,10,Free,0.00,Everyone,Arcade,"March 11, 2017",0.1,2.3 and up
8591,DN Blog,SOCIAL,5.000000,20,4.200000,10,Free,0.00,Teen,Social,"July 23, 2018",1.0,4.0 and up
9096,DZ Puzzle,FAMILY,4.179664,14,47.000000,10,Paid,0.99,Everyone,Puzzle,"April 22, 2017",1.2,2.3 and up
10697,Mu.F.O.,GAME,5.000000,2,16.000000,1,Paid,0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up

In [97]:
df_new.drop(df_new[df_new['Reviews']>df_new['Installs']].index,inplace=True) #droping 
df_new[df_new['Reviews'] > df_new['Installs']] #cheaking the output

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [98]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9637 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9637 non-null   object
 1   Category        9637 non-null   object
 2   Rating          9637 non-null   float64
 3   Reviews         9637 non-null   int64
 4   Size            9637 non-null   float64
 5   Installs        9637 non-null   int64
 6   Type            9637 non-null   object
 7   Price           9637 non-null   float64
 8   Content Rating  9637 non-null   object
 9   Genres          9637 non-null   object
 10  Last Updated    9637 non-null   object
 11  Current Ver     9637 non-null   object
 12  Android Ver     9637 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.0+ MB